$font-family: -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;

:root {
    --text-color: rgb(0, 0, 0);
    --preview-text-color: rgb(255, 255, 255);
    --cover-color: rgba(10, 10, 10, 0.5);
    --link-color: #4aaadc;

    font-family: $font-family;

    // @media (min-width: 48em) {
    //     font-size: calc(1rem + ((1vw - 0.48rem) * 1.3889));
    // }

    // @media (min-width: 120em) {
    //     font-size: 2rem;
    // }
    font-size: 1.75rem;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    margin-bottom: 0.83em;

    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    .section-title {
        margin-top: 0;
        margin-bottom: 0;

        font-size: 2em;
        font-weight: 600;
    }
}

button,
.btn,
input[type="submit"] {
    --button-background-color: black;
    --button-background-color--hover: rgb(40, 40, 40);

    border: none;
    border-radius: 3px;

    padding: 0.6em 2.8em;

    color: white;
    font-size: 1em;
    font-weight: 900;
    text-align: center;
    font-family: $font-family;

    cursor: pointer;
    transition: 0.2s background-color ease-in-out;
    background-color: var(--button-background-color);

    &:hover {
        background-color: var(--button-background-color--hover);
    }

    &.secondary {
        --button-background-color: rgb(80, 80, 80);
        --button-background-color--hover: rgb(120, 120, 120);
    }
}

input {
    border: 2px solid black;
    border-radius: 3px;

    padding: 0.6em 0.8em;

    color: black;
    font-size: 1em;
    font-family: $font-family;
    font-weight: 700;

    outline: none;

    &::placeholder {
        color: rgb(85, 85, 85);
    }
}

.input-group {
    margin-bottom: 0.8em;

    & > *:first-child {
        display: block;

        margin-bottom: 0.2em;
    }

    & > *:last-child {
        display: block;
    }
}
